* {
    padding: 0;
    margin: 0;
}
h1 {
    font-size: 40px;
    font-weight: bold;  
    font-family: sans-serif;
}
h2 {
    font: bold 20px sans-serif;
}
header, section, footer, aside, nav, article, hgroup {
    display: block;
}   
body {
    text-align: center;
}
.agrupar {
    background: #8d8d8d;
    width: 1000px;
    margin: 20px auto;
    border: 2px solid black;
}
.header {
    background: #FFFBB9;
    border: 1px solid #999999;
    padding: 20px;
}
.header h1 {
    text-align: left;
}
.menu {
    background: #ccc;
    padding: 5px 15px;
    text-align: left;
}

.menu li {
    list-style: none;
    padding: 5px;
    font: bold 14px verdana;
    display: inline-block;  
}
.seccion {
    margin: 20px;
    width: 720px;
    float: left;
}
.lado {
    margin: 20px 0px;
    width: 220px;
    float: left;
    text-align: left;
}
.pie {
    clear: both;
    padding: 20px;
    background: #2D3436;
    color: #FFFFFF;
}
article {
    background: #c5c5c5;
    border: 1px solid #999;
    padding: 20px;
    margin-bottom: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
}
article p {
    margin: 10px;
}
article footer {
    text-align: left;
}
img {
    width: 100px;
    display: block;
    margin: 20px auto;
}
.lado blockquote {
    border: 1px solid black;
    padding: 40px;
    background: #FFFBB9;
    margin: 20px;
}